
config ipt2socks
	option enable '0'
	option server_addr '127.0.0.1'
	option server_port '1080'
	option listen_addr4 '127.0.0.1'
	option listen_addr6 '::1'
	option listen_port '1234'
	option thread_nums '1'
	option nofile_limit '65535'
	option udp_timeout '300'
	option cache_size '256'
	option buffer_size '8192'
	option graceful '0'
	option redirect '0'
	option tcp_only '0'
	option udp_only '0'
	option ipv4_only '0'
	option ipv6_only '0'

